:root{
    --green-deep: #38A883;
    --green-white: #F0FAF7;
    --green-light: #C1EBDF;
    --green-hover: #28a745;
    --black: #0A100D;
    --white: #F4F7F5;
}


body{
    background-color: var(--green-deep);
}

.login-container, 
.reg-container{
    width: 100%;
    height: 100%;
}
.login,
.reg{
    width: 900px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.login-content-holder,
.reg-content-holder{
    width: 100%;
    display: flex;
    box-shadow: 0 0 30px 2px var(--black);
}
.login-img-holder{
    width: 50%;
    height: 600px;
}
.login-form-holder{
    width: 50%;
    height: 600px;
    background-color: var(--green-white);
    position: relative;
}

.login-form-holder > form{
    width: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.login-form-holder > form > h3{
    width: 100%;
    text-align: center;
    color: var(--green-deep);
    text-transform: capitalize;
    font-size: 2.5rem;
}
.input-text-bg{
    background-color: var(--green-deep) !important;
    color: var(--green-white);
}
.btn-size{
    width: 100%;
    text-transform: capitalize;
}
.input-group-link{
    margin: 0 auto;
    color: var(--green-deep);
    text-transform: capitalize;
    text-decoration: none;
}









.reg-container{
    height: 1400px;
    position: relative;
}

.reg{
    width: 1000px;
}

.reg-content-holder{
    border-radius: 5px;
    overflow: hidden;
}

.reg-img-holder{
    width: 40%;
    position: relative;
    background-color: #fff;
}
.reg-img-box{
    width: 350px;
    height: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.reg-form-holder{
    width: 60%;
    background-color: var(--green-white);
    box-sizing: border-box;
    padding: 30px;
}
.reg-form-holder > form > h3{
    font-size: 2.5rem;
    color: var(--green-deep);
    text-transform: capitalize;
}







