


:root{
    --green-deep: #38A883;
    --green-white: #F0FAF7;
    --green-light: #C1EBDF;
    --green-hover: #28a745;
    --black: #0A100D;
    --white: #F4F7F5;
}

header{
    width: 100%;
    background-color: var(--green-deep);
}

.header-container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dashboard-icon{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--green-white);
    text-transform: capitalize;
    width: 30%;
}
nav{
    width: 40%;
}
nav>ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    flex-direction: row;
}
nav > ul > li{
    display: inline-block;
    padding: 25px 0;
    margin-left: 25px;
}
nav > ul > li > a{
    text-transform: capitalize;
    text-decoration: none;
    color: var(--green-white);
    font-size: 1rem;
}

















.dashboard-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.side-bar-portion{
    width: 20%;
    background-color: var(--green-deep);
    height: 100vh;
}
.side-bar-menu{
    width: 100%;
}
.side-bar-menu > ul{
    width: 100%;
    list-style: none;
}
.side-bar-menu > ul > li{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.side-bar-menu > ul > li:hover{
    background-color: var(--green-white);
    border-right: 4px solid var(--green-hover);
    box-sizing: border-box;
}
.side-bar-menu > ul > li > a{
    color: var(--green-white);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.side-bar-menu > ul > li:hover > a{
    color: var(--black);
}


.main-bar-portion{
    width: 80%;
}





.dashboard-headline{
    padding: 20px 0;
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--green-deep);
    color: var(--white);
    text-transform: capitalize;
    border-radius: 5px;
}



.stat-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.stat-item{
    width: calc(25% - 10px);
    border-radius: 5px;
    height: 200px;
    text-align: center;
    border: 3px solid #007A5C;
    overflow: hidden;
}
.stat-item:nth-child(2){
    border: 3px solid #575D90;
}
.stat-item:nth-child(3){
    border: 3px solid #A30015;
}
.stat-item:nth-child(4){
    border: 3px solid #24B5E5;
}

.stat-item .stat-title{
    width: 100%;
    font-size: 1.5rem;
    background-color: #007A5C;
    padding: 10px 0;
    color: var(--white);
    text-transform: capitalize;
    
}

.stat-item:nth-child(2) .stat-title{
    background-color: #575D90;
}
.stat-item:nth-child(3) .stat-title{
    background-color: #A30015;
}
.stat-item:nth-child(4) .stat-title{
    background-color: #24B5E5;
}
.stat-item .stat-img-holder{
    height: 100px;
    width: 100px;
    margin: 10px auto;
}






.sec-title{
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--black);
}

.recent-blog-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recent-blog-item{
    width: 33%;
    background-color: var(--green-light);
    height: 470px;
}
.blog-item-pic{
    width: 100%;
    height: 60%;
}
.blog-item-text-content{
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    padding: 10px;
}
.blog-item-title{
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.manage-blog-form-title{
    padding: 20px 0;
    background-color: var(--green-deep);
    color: var(--white);
    box-sizing: border-box;
    text-align: center;
    text-transform: capitalize;
    border-radius: 5px;
}







.thead-deep-green{
    background-color: var(--green-deep) !important;
    color: var(--white);
}
/* .table-striped{
    background-color: var(--green-light) !important;
} */

