:root{
    --green-deep: #38A883;
    --green-white: #F0FAF7;
    --green-light: #C1EBDF;
    --green-hover: #28a745;
    --black: #0A100D;
    --white: #F4F7F5;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}

.section-title > img{
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    top: -10px;
    left: 10px;
}
.section-title > h3{
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
    box-sizing: border-box;
}


body{
    background-color: var(--green-white);
}

.nav-bar-container{
    width: 100%;
    background-color: var(--green-light);
}
.nav-icon-color{
    color: var(--green-deep);
    font-size: 2rem;
    font-weight: 700;
}
.nav-icon-color:hover{
    color: var(--green-hover) !important;
}
.nav-link{
    color: var(--black) !important;
    text-transform: capitalize;
    
    text-align: right;
    
}
.nav-link:hover{
    color: var(--green-hover) !important;
}
.navbar-toggler-icon{
    color: var(--green-deep) !important;
}


.headline{
    width: 100%;
}
.headline-container{
    width: 100%;
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.headline-item{
    width: 33%;
    height: 450px;
    position: relative;
}

.headline-item > img{
    position: absolute;
    top: 0;
    left: 0;
}

.headline-item-details{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    margin: 0 20px;
}
.headline-item-details > span{
    display: inline-block;
    margin-bottom: 10px;
    color: var(--white);
}
.headline-item-details > span.title{
    font-size: 1.8rem;
    display: block;
}
.headline-item-details > span.category{
    font-size: 1rem;
}
.headline-item-details > span.date{
    font-size: 1rem;
    margin-left: 10px;
}












#top3 .blog-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
#top3 .blog-container .blog-item{
    border: 1px solid var(--green-hover);
    width: 30%;
    border-radius: 5px;
    overflow: hidden;
}
#top3 .blog-container .blog-item .blog-img-holder{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

#top3 .blog-container .blog-item  .blog-text-content{
    box-sizing: border-box;
    padding: 10px;
    padding-top: 0;
}

#top3 .blog-container .blog-item .blog-text-content .blog-title{
    width: 100%;
    color: var(--green-hover);
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
}
#top3 .blog-container .blog-item .blog-text-content .blog-description{
    width: 100%;
    color: var(--green-black);
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 10px;
}
#top3 .blog-container .blog-item .blog-text-content a{
    color: var(--green-hover);
    font-size: 1rem;
    display: inline-block;
    border: 2px solid var(--green-hover);
    padding: 10px 15px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-bottom: 10px;
}

#top3 .blog-container .blog-item .blog-text-content a:hover{
    color: var(--white);
    background-color: var(--green-hover);
    text-decoration: none;
}
#top3 .blog-container .blog-item .blog-text-content .blog-meta{
    font-size: 1rem;
}








footer{
    background-color: var(--green-light);
}

footer p{
    color: var(--green-deep);
}

