:root{
    --green-deep: #38A883;
    --green-white: #F0FAF7;
    --green-light: #C1EBDF;
    --green-hover: #28a745;
    --black: #0A100D;
    --white: #F4F7F5;
}

.clr-green-hover{
    color: var(--green-hover) !important;
}



*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}

.section-title > img{
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    top: -10px;
    left: 10px;
}
.section-title > h3{
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
    box-sizing: border-box;
}


body{
    background-color: var(--green-white);
}

.nav-bar-container{
    width: 100%;
    background-color: var(--green-light);
}
.nav-icon-color{
    color: var(--green-deep);
    font-size: 2rem;
    font-weight: 700;
}
.nav-icon-color:hover{
    color: var(--green-hover) !important;
}
.nav-link{
    color: var(--black) !important;
    text-transform: capitalize;
    
    text-align: right;
    
}
.nav-link:hover{
    color: var(--green-hover) !important;
}
.navbar-toggler-icon{
    color: var(--green-deep) !important;
}


.headline{
    width: 100%;
}
.headline-container{
    width: 100%;
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.headline-item{
    width: 33%;
    height: 450px;
    position: relative;
}

.headline-item > img{
    position: absolute;
    top: 0;
    left: 0;
}

.headline-item-details{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    margin: 0 20px;
}
.headline-item-details > span{
    display: inline-block;
    margin-bottom: 10px;
    color: var(--white);
}
.headline-item-details > span.title{
    font-size: 1.8rem;
    display: block;
}
.headline-item-details > span.category{
    font-size: 1rem;
}
.headline-item-details > span.date{
    font-size: 1rem;
    margin-left: 10px;
}












#top3 .blog-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
#top3 .blog-container .blog-item{
    border: 1px solid var(--green-hover);
    width: 30%;
    border-radius: 5px;
    overflow: hidden;
}
#top3 .blog-container .blog-item .blog-img-holder{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

#top3 .blog-container .blog-item  .blog-text-content{
    box-sizing: border-box;
    padding: 10px;
    padding-top: 0;
}

#top3 .blog-container .blog-item .blog-text-content .blog-title{
    width: 100%;
    color: var(--green-hover);
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
}
#top3 .blog-container .blog-item .blog-text-content .blog-description{
    width: 100%;
    color: var(--green-black);
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 10px;
}
#top3 .blog-container .blog-item .blog-text-content a{
    color: var(--green-hover);
    font-size: 1rem;
    display: inline-block;
    border: 2px solid var(--green-hover);
    padding: 10px 15px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-bottom: 10px;
}

#top3 .blog-container .blog-item .blog-text-content a:hover{
    color: var(--white);
    background-color: var(--green-hover);
    text-decoration: none;
}
#top3 .blog-container .blog-item .blog-text-content .blog-meta{
    font-size: 1rem;
}















.latest-blog-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.latest-blog-item{
    width: 32%;
    margin-bottom: 20px;
}
.latest-blog-img-holder{
    height: 250px;
    position: relative;
}
.latest-blog-img-holder-inner-content{
    position: absolute;
    bottom: 0px;
}
.latest-blog-img-holder-inner-content > p{
    display: inline-block;
    margin-left: 20px;
}
.latest-blog-img-holder-inner-content > p > span{
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2rem;
    color: var(--green-black);
}

a.latest-blog-title{
    color: var(--black);
    font-size: 1.8rem;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: left;
}
a.latest-blog-title:hover{
    color: var(--green-hover);
}



#blog-counter{
    background-color: var(--green-deep);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog-counter-item{
    width: 33%;
}
.blog-counter-item h3{
    text-transform: capitalize;
}










.testimonial-container{
    width: 100%;
}

.testimonial-profile{
    width: 100%;
    height: 500px;
}


















/* about us page content start */

.founder-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.founder-content{
    width: 70%;
    height: 600px;
    box-sizing: border-box;
    padding-right: 100px;
}

.founder-content > h1{
    margin-bottom: 25px;
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 700;
}

.founder-content > h3{
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 500;
}

.founder-content > p{
    font-size: 1rem;
    text-align: justify;
}

.founder-photo-holder{
    width: 30%;
    height: 600px;
}


.author-card{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid var(--green-hover);
    border-radius: 5px;
    margin-bottom: 20px;
}
.author-img-holder{
    width: 25%;
    height: 100%
}
.author-details{
    width: 75%;
    box-sizing: border-box;
    padding: 5px 5px 5px 25px;

}

.author-details > h3{
    font-size: 2rem;
}

.author-details > p{
    font-size: 1rem;
}






















/* about us page content end */







/* collection content starts */

.blog_search_form{
    width: 100%;
    background-color: var(--green-light);
    text-align: right;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}
.blog_search_field{
    width: 75%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-right: 0;
    background-color: transparent;
}
.blog_search_button{
    width: 23%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--green-hover);
    color: var(--white);
    text-transform: capitalize;
    font-size: 1rem;
    border-radius: 15px;
}



.cat-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;/* 
    justify-content: space-between; */
    background-color: var(--green-light);
}

.cat-container span{
    display: inline-block;
    padding: 10px 20px;

}

.cat-container span a{
    color: var(--green-black);
    text-transform: capitalize;
    text-decoration: none;
}
.cat-container span a:hover{
    color: var(--green-hover);}





.collection-content{
    width: 100%;
    background-color: var(--green-light);
}



.collection-container{
    width: 830px;
    height: 950px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 300px);
    gap: 10px;
    margin: 0 auto;
}

.collection-item > .img-holder{
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
}

.collection-item > .title{
    width: 100%;
    text-align: justify;
    font-size: 1rem;
    color: var(--black);
}

.collection-item > .title > a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--green-hover);
}








/* collection content ends */


















footer{
    background-color: var(--green-light);
}

footer p{
    color: var(--green-deep);
}

